// VARS
$boxSize: 250px;

.artist-sctn {
  flex-direction: column;
}

.artist-sctn form {
  width: ($boxSize * 3) + ($sFull * 2);
}

.artist-sctn input {
  width: 100%;
  height: 48px;
  border-radius: 3px;
  padding: 12px;
  font: 20px $fMain;
  margin-bottom: $sFull;
}

.artist-sctn__box-wrap {
  width: ($boxSize * 3) + ($sFull * 2);
  justify-content: space-between;
}

.artist-sctn__box {
  position: relative;
  height: $boxSize;
  width: $boxSize;
  border-radius: 3px;
  background-color: $cLight;
}

.artist-sctn__box:hover {
  cursor: pointer;
  background-color: $cLighter;
}
