// SIZE RESET

a, body, button, div, h1, header, input, ul {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

// FLEX

a, div, header, ul {
  @include flex;
}

// GENERAL

body {
  min-height: 100vh;
  background-color: #21252b;
}

a:hover, button:hover, svg:hover {
  cursor: pointer;
}

// UTILITY CLASSES

.hide {
  display: none;
}
