// SIZE RESET

a, body, button, div, h1, header, input, section, ul {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  border-radius: 0;
}

// FLEX

a, div, form, header, section, ul {
  @include flex;
}

// ELEMENTS

body {
  min-height: 100vh;
  background-color: $cMain;
}

a:hover, button:hover, svg:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

// UTILITY CLASSES

.hide {
  display: none;
}

// GENERAL

.app {
  flex-direction: column;
}

.main {
  width: 100vw;
  padding: $sFull;
}

section {
  width: 100vw;
  margin: $sFull;
}
