a, body, button, div, h1, header, input, section, span, ul {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  border-radius: 0; }

a, button, div, form, header, section, span, ul {
  display: flex;
  justify-content: center;
  align-items: center; }

body {
  min-height: 100vh;
  background-color: #21252b; }

a:hover, button:hover, svg:hover {
  cursor: pointer; }

button:focus {
  outline: none; }

.hide {
  display: none; }

.app {
  flex-direction: column; }

.main {
  flex-direction: column;
  width: 100vw;
  padding: 30px; }

section {
  margin: 30px;
  flex-direction: column; }

.header-bar {
  position: relative;
  width: 100vw;
  height: 100px;
  background-color: #373e48;
  border-bottom: 5px solid white; }

.header-bar__title {
  font: bold 50px Helvetica;
  color: white; }

.header-bar__spotify-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 95px;
  margin-right: 18px;
  color: white;
  font-size: 60px; }

.artist-sctn input {
  width: 810px;
  height: 48px;
  border-radius: 3px;
  padding: 12px;
  font: 20px Helvetica;
  margin-bottom: 30px; }

.artist-sctn__box-wrap {
  width: 810px;
  justify-content: space-between; }

.artist-sctn__box {
  flex-direction: column;
  position: relative;
  width: 250px;
  padding: 8px;
  border-radius: 3px;
  background-color: #373e48; }

.artist-sctn__box:not(.selected):hover {
  cursor: pointer;
  background-color: #434b56; }

.selected {
  background-color: white; }
  .selected span {
    color: black !important; }

.artist-sctn__box div {
  width: 234px;
  height: 234px;
  border-radius: 3px;
  background-color: #21252b;
  background-size: cover;
  background-position: center; }

.artist-sctn__box span {
  width: 100%;
  padding: 12px 0 4px 0;
  font: 15px Helvetica;
  color: white; }
